@charset "utf-8";
/* 网页有默认的样式、一些常见的标签也有默认的样式 */
*{
    margin: 0;padding: 0;
}
/* 清除b，strong标签的默认样式 */
b,strong{
    font-weight: normal
}
/* 清除i,em标签的默认样式 */
i,em{
    font-style: normal
}
/* 清除a标签的默认下划线 */
a,u{
    text-decoration:none;
}
/* 清除列表符号默认样式 */
ul,ol,li{
    list-style: none;
}
/* 清除浮动，解决高度塌陷 */
.clear-fix::after{
    content:'';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clear-fix{
    zoom: 1 /* 解决ie浏览器兼容问题 */
}
/* 解决低版本浏览器图片边框bug */
img{
    border: none;
    display: block
}
input{
    outline: none;
}